body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: ;
}

#gif {
  /* box-sizing: border-box; */
  border: 5px solid green;
  width:60%;
  margin: auto;
  line-height: 200px;
  position: relative;
  z-index:500;
}

.questionbox {
  /* box-sizing: border-box; */
  opacity: 0.5;
  border: 5px solid red;
  width:60%;
  line-height: 50px;
  margin: auto;
  position: relative;
  z-index: 5;
}

#intro {
  width: 50%;
  margin: auto;
}

/* #menubox {
  box-sizing: border-box;
  border: 5px solid blue;
  width:60%;
  margin: auto;
} */
