body {
  margin: 0;
  padding: 0;
  font-family: futura, sans-serif;
  background-image:  url("./images/cobblestones.jpg");
/*  */

}

.App {
  color: white;
}

#ohno {
  color: red;
  position: absolute; right: 370px; top: 160px;
  z-index: 350;
  font-size: 25px;
  background-color: rgb(2, 18, 60, 0.9);
}

/* #wanted { */
  /* position: fixed; left:300; */
  /* margin: auto;
} */

#wantedPoster {
  display: flex;
  position:absolute; right: 350px;
  background-color: rgb(2, 18, 60, 0.9);
}

#characterInfo {
  height: 200;
  z-index:100;
}

#portrait {
  width: 175px;
  height: auto;
	position: absolute;
	top: 415px; right: 400px;
  z-index: 300

}

#gif {

  width:50%;

  margin: auto;
  line-height: 200px;
  position: absolute; top: 207px; right: 322px;
  z-index:-200;
  box-shadow: 10px 10px 10px rgba(2, 18, 60, 0.9);
}

.questionbox {
  border-radius: 10px;
  position: absolute; right: 260px;
  -webkit-box-shadow: 3px 3px 3px rgba(2, 18, 60, 0.9);
   -moz-box-shadow: 3px 3px 3px rgba(2, 18, 60, 0.9);
        box-shadow: 3px 3px 3px rgba(2, 18, 60, 0.9);
  opacity: 0.99;
  width:60%;
  line-height: 60px;
  margin: auto;
  position: 400px;
  z-index: -200;
  background-color: rgb(2, 18, 60, 0.9);
  color: white;
  height: 300px;
  /* border-color: #efd82d;
  border-style: ridge; */
}

#intro {
  width: 50%;
  margin: auto;

}

#introbox {
  opacity: .99;
  position: absolute; left: 240px;
  /* border: 5px solid green; */
  width:840px;
  height: 500px;
  line-height: 30px;
}

#introtext {
  width: 652px;
  margin: auto;
  height: 70px;
  background-color: rgb(2, 18, 60, 0.9);

}


.yellow {
  background-color: #efd82d;
  border-radius: 7px;
  height: 27px;
  color: rgb(2, 18, 60, 0.9);
  font-family: futura, sans-serif;

}
/* #65f72c green yes color */
.red {
  background-color: #ff0d05;
  border-radius: 7px;
  height: 27px;
  color: rgb(2, 18, 60, 0.9);
  font-family: futura, sans-serif;

}

.green {
  background-color: #65f72c;
  border-radius: 7px;
  height: 27px;
  color: rgb(2, 18, 60, 0.9);
  font-family: futura, sans-serif;

}
/* #menubox {
  box-sizing: border-box;
  border: 5px solid blue;
  width:60%;
  margin: auto;
} */
